<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.fiap.imc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IMCConstraintLayout">

        <activity
            android:name="br.com.fiap.imc.gui.DashBoardActivity"
            android:exported="false" />

        <activity
            android:name="br.com.fiap.imc.gui.CadastroActivity"
            android:exported="false" />

        <activity
            android:name="br.com.fiap.imc.gui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="br.com.fiap.imc.gui.ResultadoActivity"
            android:exported="false" />

        <activity
            android:name="br.com.fiap.imc.gui.PesagemActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>